.butreg { 
    margin-top: 30px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    display:block;
    width:120px;
    /*margin: 20px auto;*/
    font-size: 14px;
    text-align:center;
    height: 35px;
    line-height: 20px;
    /*margin-bottom: 10px;*/
    /*padding: 4px 6px;*/
    vertical-align: middle;
    text-decoration:none;
}

.butreg:hover {
   border-color: rgba(82, 168, 236, 0.8);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
   outline: 0 none;
   color: black;
   background-color: #FFFFFF;
}

.butlog { 
    margin-top: 30px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    display:block;
    width:120px;
    /*margin: 20px auto;*/
    font-size: 14px;
    text-align:center;
    height: 35px;
    line-height: 20px;
    /*margin-bottom: 10px;*/
    /*padding: 4px 6px;*/
    vertical-align: middle;
    text-decoration:none;
}

.butlog:hover {
   border-color: rgba(82, 168, 236, 0.8);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
   outline: 0 none;
   color: black;
   background-color: #FFFFFF;
}

.inputlog1 {
    margin-top: 50px;
    margin-left: 102px;
    background: #F6F6f6;
    font-size: 15px;
    border-radius: 8px;
    width: 310px;
}

.inputlog2 {
    margin-top: 50px;
    margin-left: 94px;
    background: #F6F6f6;
    font-size: 15px;
    border-radius: 8px;
    width: 310px;
}

.inputreg1 {
    margin-top: 50px;
    margin-left: 94px;
    background: #F6F6f6;
    font-size: 15px;
    border-radius: 8px;
    width: 310px;
}

.inputreg2 {
    margin-top: 50px;
    margin-left: 58px;
    background: #F6F6f6;
    font-size: 15px;
    border-radius: 8px;
    width: 310px;
}

.inputreg3 {
    margin-top: 50px;
    margin-left: 58px;
    background: #F6F6f6;
    font-size: 15px;
    border-radius: 8px;
    width: 310px;
}

.inputreg4 {
    margin-top: 50px;
    margin-left: 79px;
    background: #F6F6f6;
    font-size: 15px;
    border-radius: 8px;
    width: 310px;
}

.inputreg5 {
    margin-top: 50px;
    margin-left: 70px;
    background: #F6F6f6;
    font-size: 15px;
    border-radius: 8px;
    width: 310px;
}

.inputreg6 {
    margin-top: 50px;
    margin-left: 60px;
    background: #F6F6f6;
    font-size: 15px;
    border-radius: 8px;
    width: 310px;
}

.inputreg7 {
    margin-top: 50px;
    margin-left: 90px;
    background: #F6F6f6;
    font-size: 15px;
    border-radius: 8px;
    width: 310px;
}